body {
  header {
  .icon-list {
    width: 20px;
    height: 20px;
  }
  .user-check {
    width: 20px;
    height: 20px;
  }
  .btn-primary {
    margin-left: 20px;
  }
  .navbar-brand {
    font-size: 30px;
    font-weight: bolder;
  }
}
section {
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    font-weight: bold;
  }
  p {
    font-size: 20px;
}
  h2 {
    font-weight: bold;
    text-align: center;
  }

}
}
.carousel-control-prev-icon {
 background-image: url(./img/arrow-left.svg);
}
.carousel-control-next-icon {
 background-image: url(./img/arrow-right.svg);
}
.carousel-control-prev, .carousel-control-next {
  width: 20px;
}
.carousel-control-prev {
  left: -35px;
}
.carousel-control-next {
  right: -35px;
}
.modal-dialog {
  color: black;
}
footer {
  padding: 100px;
  background-color: #343a40;
  a {
    text-decoration: none;
    h3 {
      font-size: 30px;
      font-weight: bolder;
      text-decoration: none;
    }
  }
  p {
    font-size: 17px;
    color: white;
  }
  nav {
    a {
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}
img {
  width: 50px;
  height: 50px;
}
}
